.shop {
  width: 100%;
  padding-top: 112px;

  @include _768 {
    padding-top: 60px;
  }

  &__inner {
    display: flex;
    column-gap: 30px;
    margin-bottom: 120px;

    @include _768 {
      flex-direction: column;
    }
  }
}

.filters {
  max-width: 270px;
  width: 100%;

  @include _768 {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 50px;
  }

  &__title {
    text-transform: uppercase;
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 1.2;
    color: $sliderTitle;
    padding-right: 56px;
    position: relative;
    
    &::after {
      content: "";
      height: 3px;
      width: 39px;
      background-color: $buttonColor;
      border-radius: 1px;
      position: absolute;
      right: 0;
      top: 10px;
    }
  }
}

.filters-category {
  margin-bottom: 60px;

  &__label {
    display: block;
    cursor: pointer;
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filters-category__checkbox {
      background-color: $search-icon-opacity;
    }
  }

  &__checkbox {
    border-radius: 5px;
    background-color: $backgroundColor;
    color: $sliderTitle;
    display: flex;
    justify-content: space-between;
    padding: 7px 22px 8px 14px;

    @include _576 {
      padding: 11px 14px;
    }

    span {
      svg {
        width: 7px;
        height: 12px;
        fill: $sliderTitle;
      }
    }
  }
}

.filter-price__form {
  margin-bottom: 110px;
}

.irs--flat .irs-line {
  top: 28px;
  height: 3px;
  background-color: $buttonColor;
  border-radius: 1px;
  opacity: 0.65;
}

.irs--flat .irs-handle {
  top: 22px;
  width: 15px;
  height: 15px;
  background-color: $buttonColor;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-bar {
  top: 28px;
  height: 4px;
  background-color: $buttonColor;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  @extend %rubik-400;
  top: 48px;
  padding: 1px 3px;
  color: $sliderTitle;
  font-size: 14px;
  line-height: 3.1;
  background-color: transparent;
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
  display: none;
}


.filters-brand {
  margin-bottom: 41px;

  &__label {
    display: block;
    cursor: pointer;
  }

  &__value {
    color: $brandCheck;
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filters-brand__checkbox {
      background-color: $search-icon-opacity;
      color: $sliderTitle;
    }
  }

  &__checkbox {
    border-radius: 5px;
    background-color: $backgroundColor;
    color: $sliderTitle;
    display: flex;
    justify-content: space-between;
    padding: 9px 22px 8px 14px;

    @include _576 {
      padding: 11px 14px;
    }
  }

  &__name {
    color: $sliderTitle;
  }
}

.filters-populars {
  @include _768 {
    margin-bottom: 0;
  }

  &__inner {
    padding-top: 26px;
  }

  &__link {
    display: flex;
    column-gap: 18px;

    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }

  &__content {
    min-height: 71px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__image {
    display: flex;
    justify-content: center;
    width: 71px;
    height: 71px;
    background-color: $favoritsProduct;
    border: 2px solid #f2f2f2;
  }

  &__subtitle {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 1;
    color: $favoritesTitle;
  }

  &__price {
    @extend %rubik-400;
    font-size: 15px;
    line-height: 1.8;
    color: $favoritesTitle;
  }
}

.jq-ry-container {
  padding: 0;
}

.shop-content {
  position: relative;

  &__inner {
    max-width: 870px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 108px;

    @include _1200 {
      justify-content: center;
    }
  }

  &__filter-buttons {
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px 20px 30px;
    margin-left: 30px;
    position: absolute;
    top: -70px;
  }

  &__filter-btn {
    padding: 0;

    &.shop-content__filter-btn--active {
      svg {
        fill: $sliderTitle;
      }
    }


    svg {
      fill: $filter;
      width: 20px;
      height: 15px;
    }
  }
}

.filters-category,
.filters-price,
.filters-brand,
.filters-populars {
  @include _768 {
    width: 50%;
    margin-bottom: 30px;
  }

  @include _576 {
    width: 100%;
  }
}