.about {
  padding-top: 120px;

  @include _992 {
    padding-top: 90px;
  }

  @include _576 {
    padding-top: 40px;
  }

  &__inner {
    display: flex;
    align-items: center;
    column-gap: 48px;
    margin-bottom: 120px;

    @include _1200 {
      flex-direction: column;
    }
  }

  &__img {
    max-width: 570px;
    min-height: 676px;

    @include _1200 {
      margin-bottom: 30px;
    }

    @include _768 {
      max-width: 375px;
      min-height: 100%;
    }

    @include _576 {
      display: none;
    }
  }

  &__years {
    display: flex;
    column-gap: 24px;
    align-items: center;

    p {
      max-width: 85px;
      @extend %rubik-400;
      font-size: 16px;
      line-height: 1.9;

      @include _576 {
        line-height: 1.2;
      }
    }
  }

  &__years-num {
    @extend %rubik-700;
    font-size: 140px;
    line-height: 1;
    color: $buttonColor;

    @include _576 {
      font-size: 74px;
    }
  }

  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 51px;

    @include _768 {
      font-size: 25px;
      margin-bottom: 20px;
    }
  }

  &__text {
    p {
      @extend %rubik-400;
      line-height: 1.9;
      margin-bottom: 64px;

      @include _768 {
        margin-bottom: 20px;
      }
    }
  }

  &__list {
    padding-top: 39px;
    border-top: 3px solid $about-border;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    @extend %dmsans-700;

    @include _1200 {
      margin: 0 auto;
    }

    @include _576 {
      padding-top: 0;
      border-top: none;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 100%;
    }
  }

  &__item {
    padding-left: 57px;
    display: flex;
    flex-direction: column;
    position: relative;

    @include _576 {
      padding: 0 10px 0 57px;
    }

    &::before {
      content: "";
      @extend %bg;
      position: absolute;
      left: 0;
      top: 10px;
    }

    &--proj::before {
      background-image: url('../images/about/about-icon1.svg');
      width: 37px;
      height: 38px;
    }

    &--rev::before {
      background-image: url('../images/about/about-icon2.svg');
      width: 44px;
      height: 40px;
    }

    &--awar::before {
      background-image: url('../images/about/about-icon3.svg');
      width: 43px;
      height: 42px;
    }

    &:not(:last-child) {
      padding-right: 26px;
      border-right: 1px solid $about-border;

      @include _576 {

        margin-bottom: 20px;
        border-right: none;
      }
    }
  }

  &__num {
    font-size: 36px;
    line-height: 1.1;
  }

  &__sub {
    color: $about-sub;
  }
}

.description {
  background-color: $slider-bg;

  &__list {
    max-width: 1100px;
    margin: 0 auto;
    min-height: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include _1200 {
      min-height: 280px;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 40px;
    }
  }

  &__content {
    padding-top: 87px;
    align-items: center;
    display: flex;
    flex-direction: column;
    @extend %dmsans-700;
    position: relative;

    &::before {
      content: "";
      @extend %bg;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 9%;

    }

    &--rate::before {
      background-image: url('../images/about/descript1.svg');
      width: 64px;
      height: 57px;
    }

    &--delive::before {
      background-image: url('../images/about/descript2.svg');
      width: 71px;
      height: 51px;
    }

    &--time::before {
      background-image: url('../images/about/descript3.svg');
      width: 81px;
      height: 67px;
    }

    &--brand::before {
      background-image: url('../images/about/descript4.svg');
      width: 60px;
      height: 64px;
    }
  }

  &__num {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 18px;

    @include _768 {
      margin-bottom: 10px;
      font-size: 25px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.7;
  }
}

.team {
  padding-top: 120px;

  &__inner {
    display: flex;
    column-gap: 98px;

    @include _1200 {
      flex-wrap: wrap;
    }
  }

  &__content {
    max-width: 303px;
    color: $sliderTitle;

    @include _1200 {
      max-width: 100%;
      margin-bottom: 20px;
    }

    p {
      @extend %rubik-400;
      margin-bottom: 33px;
    }
  }

  &__title {
    text-align: left;
    margin-bottom: 15px;
  }

  &__button {
    @extend %poppins-700;
    font-size: 15px;
    line-height: 3.6;
    color: $backgroundColor;
    background-color: $buttonColor;
    border-radius: 5px;
    padding: 0 28px 0 26px;
    transition: background-color 0.5s ease;

    &:hover{
      background-color: $sliderTitle;
    }

    svg {
      width: 15px;
      height: 11px;
      fill: $backgroundColor;
    }
  }
}

.portfolio {
  &__img {
    max-width: 370px;
    min-height: 320px;
    object-fit: cover;
    position: relative;

    @include _992 {
      max-width: 310px;
    }

    @include _768 {
      max-width: 270px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 29px;

    @include _1200 {
      justify-content: center;
    }
  }

  &__content {
    transform: translateY(-50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 21px 28px 25px;
    max-width: 325px;
    min-height: 111px;
    background-color: $backgroundColor;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  }

  &__name {
    @extend %dmsans-700;
    font-size: 22px;
    line-height: 1.2;
    color: $menu;
  }

  &__position {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 1.9;
    color: $portfolio-subtitle;
  }

  &__team {
    display: flex;
    flex-direction: column;
  }

  &__social {
    display: flex;
    column-gap: 7px;
  }

  &__link {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: $social-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: $buttonColor;

      svg {
        fill: $sliderTitle;
      }
    }

    svg {
      width: 20px;
      height: 18px;
      fill: $social-fill;
      transition: fill 0.5s ease;
    }
  }
}