body{
@extend %dmsans-500;
background-color: $backgroundColor;
}

button{
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.container{
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.content__container{
  max-width: 1200px;
  padding: 0 15px;
     margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.title{
   @extend %dmsans-700;
   font-size: 36px;
   line-height: 1.2;
   text-align: center;
}