body {
  @extend %dmsans-500;
  background-color: $backgroundColor;
  font-size: 16px;
  line-height: 1.9;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;

  &--content {
    max-width: 1200px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.logo {
  width: 146px;
  height: 39px;
  object-fit: contain;
}

.title {
  @extend %dmsans-700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  max-width: 1770px;
  color: $title;

  @include _768 {
    font-size: 20px;
  }
}

.button {
  font-size: 15px;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

.overflow-hidden {
  overflow: hidden;
}

.top {
  background-color: $search-icon-opacity;
  padding: 32px 0 33px;
  text-align: center;

  &__title {
    @extend %rubik-300;
    font-size: 36px;
    line-height: 1;
    color: $article-descript;
  }
}

.breadcrumbs {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
  }

  &__item {
    @extend %myriadpro-400;
    font-size: 14px;
    line-height: 1.7;
    opacity: 0.6;
    color: $article-descript;

    &:not(:last-child) {
      padding-right: 21px;
      position: relative;

      &::before {
        content: "/";
        position: absolute;
        right: 8px;
      }
    }
  }

  &__link {
    border-bottom: 1px solid transparent;
    transition: border-color 0.5s ease;

    &:hover {
       opacity: 0.6;
      border-color: $article-descript;
    }
  }
}

.pagination {
  max-width: 275px;
  margin: 0 auto;
  display: flex;
  column-gap: 16px;

  &__list {
    display: flex;
    column-gap: 16px;
  }

  &__link,
  &__arrows {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 1.9;
    color: $sliderTitle;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border: 1px solid $buttonColor;
    align-items: center;
    background-color: $backgroundColor;
    transition: background-color 0.5s ease,
      color 0.5s ease;

    &:hover {
      background-color: $buttonColor;
      color: $backgroundColor;
    }
  }
   &__arrows{
     width: 74px;
   }
}

.products-card--list + .pagination {
  margin: 0;
}