body {
  @extend %dmsans-500;
  background-color: $backgroundColor;
  font-size: 16px;
  line-height: 1.9;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;

  &--content {
    max-width: 1200px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.logo {
  width: 146px;
  height: 39px;
  object-fit: contain;
}

.title {
  @extend %dmsans-700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  max-width: 1770px;
}

.button {
  height: 60px;
  font-size: 15px;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}