$backgroundColor: #ffffff;
$menu: #436372;
$title: #1a1a1a;
$search-icon-opacity: rgba(163, 187, 200, 0.2);
$slider-bg: #fcd7b6;
$buttonColor: #a3bbc8;
$sliderTitle: #243f4d;
$slick-bg-opacity: rgba(255, 255, 255, 0.3);
$sliderLine: rgba(14%, 25%, 30%, 0.1);
$sliderSubtitle: #414141;
$sliderInfo: #585858;
$lamp-bg: rgba(252, 215, 182, 0.4);
$filter: #8b8b8b;
$designArticle: #f8f8f8;
$video-play: rgba(163, 187, 200, 0.4);
$article-bg: #e1e1e1;
$article-line: #e0e0e0;
$article-text: #262626;
$article-descript: #222933;
$sponsors-bg: rgba(252, 215, 182, 0.2);
$footerTitle: #1f2044;
$footerText: #7b7b7b;
$placeholderColor: #234969;
$input-bg-opacity: rgba(252, 215, 182, 0.2);

%dmsans-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%poppins-700 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%myriadpro-400 {
  font-family: 'MyriadPro', sans-serif;
  font-weight: 400;
}

@mixin line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

%line-1 {
  -webkit-line-clamp: 1;
@include line;
}

%line-2 {
  -webkit-line-clamp: 2;
@include line;
}

%line-3 {
  -webkit-line-clamp: 3;
@include line;
}

%bg{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}