$backgroundColor: #ffffff;
$menu: #436372;
$title: #1a1a1a;
$search-icon-opacity: rgba(163, 187, 200, 0.2);
$slider-bg: #fcd7b6;
$buttonColor: #a3bbc8;
$sliderTitle: #243f4d;
$slick-bg-opacity: rgba(255, 255, 255, 0.3);
$sliderLine: rgba(14%, 25%, 30%, 0.1);
$sliderSubtitle: #414141;
$sliderInfo: #585858;
$lamp-bg: rgba(252, 215, 182, 0.4);
$filter: #8b8b8b;
$designArticle: #f8f8f8;
$video-play: rgba(163, 187, 200, 0.4);
$article-bg: #e1e1e1;
$article-line: #e0e0e0;
$article-text: #262626;
$article-descript: #222933;
$sponsors-bg: rgba(252, 215, 182, 0.2);
$footerTitle: #1f2044;
$footerText: #7b7b7b;
$placeholderColor: #234969;
$input-bg-opacity: rgba(252, 215, 182, 0.2);
$productsTitle: #191919;
$brandCheck: #b3b3b3;
$favoritsProduct: rgba(255, 255, 255, 0.96);
$favoritesTitle: #333333;
$products-card-bg: #f2f2f2;
$about-border: rgba(9, 49, 111, 0.1);
$search-icon-opacity-hover: rgba(163, 187, 200, 0.1);
$about-sub: #4c4c4c;
$social-fill: #888888;
$portfolio-subtitle: #565872;
$social-bg: #f6f6f6;
$dataBlog: #9a9a9a;
$searchBtn: #edf1f4;
$btnSearch: #094074;

%dmsans-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%poppins-700 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

%myriadpro-400 {
  font-family: 'MyriadPro', sans-serif;
  font-weight: 400;
}

@mixin line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin line-1 {
  -webkit-line-clamp: 1;
  @include line;
}

@mixin line-2 {
  -webkit-line-clamp: 2;
  @include line;
}

@mixin line-3 {
  -webkit-line-clamp: 3;
  @include line;
}

@mixin line-5 {
  -webkit-line-clamp: 5;
  @include line;
}

%bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}