.breadcrumbs {
  background-color: $search-icon-opacity;
  padding: 26px 0 33px;
  text-align: center;

  &__title {
    @extend %rubik-300;
    font-size: 36px;
    line-height: 1;
    color: $article-descript;

    @include _768 {
      font-size: 25px;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
  }

  &__item {
    @extend %myriadpro-400;
    font-size: 18px;
    line-height: 1.7;
    opacity: 0.6;
    color: $article-descript;

    &:not(:last-child) {
      padding-right: 21px;
      position: relative;

      &::before {
        content: "/";
        position: absolute;
        right: 8px;
      }
    }
  }

  &__link {
    border-bottom: 1px solid transparent;
    transition: border-color 0.5s ease,
    opacity 0.5s ease;

    &:hover {
      opacity: 0.6;
      border-color: $article-descript;
    }
  }
}