.design {
  padding-top: 73px;

  &__title {
    margin-bottom: 18px;
    }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 34px;
    column-gap: 30px;
    width: 100%;
    margin-bottom: 123px;

    @include _992 {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 90px;
    }

    @include _768 {
      grid-template-columns: 1fr;
      margin: 0 auto 60px;
      padding: 10px;
      max-width: 450px;

    }
  }

  &__item {
    min-height: 245px;
    height: 100%;
    background-color: $designArticle;
    @extend %dmsans-700;
    line-height: 1.2;
    position: relative;
    padding: 38px 10px 0 35px;
  }

  &__filter {
    margin-bottom: 69px;

    @include _576{
      margin-bottom: 50px;
    }
  }
}

.design-card {
  &__subtitle {
    max-width: 171px;
    margin-bottom: 15px;
    font-size: 20px;
    color: $title;
    @include line-2;
    position: relative;
    z-index: 2;
  }

  &__style {
    position: relative;
    z-index: 2;
    color: $buttonColor;
    @include line-1;
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 35px;
    max-width: 270px;
    z-index: 1;

    @include _576 {
      max-width: 220px;
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

.video {
  @extend %bg;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include _1200 {
    min-height: 350px;
  }

  @include _992 {
    min-height: 300px;
  }

  &:hover .video__icon {
    fill: $sliderTitle;
  }

  &::before {
    background-color: $buttonColor;
    width: 98px;
    height: 98px;
    z-index: 2;

    @include _992 {
      width: 68px;
      height: 68px;
    }

    @include _576 {
      width: 48px;
      height: 48px;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  &::after {
    width: 127px;
    height: 127px;
    background-color: $video-play;
    transition: opacity 0.5s ease;
    z-index: 1;

    @include _992 {
      width: 95px;
      height: 95px;
    }

    @include _576 {
      width: 70px;
      height: 70px;
    }
  }

  &__icon {
    width: 22px;
    height: 25px;
    fill: $backgroundColor;
    transition: fill 0.5s ease;
    position: relative;
    top: 0;
    left: 3px;
    z-index: 2;

    @include _576 {
      width: 15px;
      height: 18px;
    }
  }
}