.design {
  padding-top: 94px;

  &__title {
    margin-bottom: 22px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 34px;
    width: 100%;
    margin-bottom: 123px;
  }

  &__item {
    min-height: 245px;
    height: 100%;
    background-color: $designArticle;
    @extend %dmsans-700;
    line-height: 1.2;
    position: relative;
    padding: 35px 0 0 35px;
  }

  &__filter{
    margin-bottom: 69px;
  }
}

.design-card {
  &__subtitle {
    max-width: 171px;
    margin-bottom: 15px;
    font-size: 20px;
    color: $title;
    @extend %line-2;
    position: relative;
    z-index: 2;
   }

  &__style {
    color: $buttonColor;
    @extend %line-1;
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 35px;
    max-width: 270px;
    z-index: 1;


    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

.video {
  @extend %bg;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:hover .video__icon {
    fill: $sliderTitle;
  }

  &::before {
    content: "";
    background-color: $buttonColor;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &::after {
    content: "";
    width: 127px;
    height: 127px;
    background-color: $video-play;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: opacity 0.5s ease;
    z-index: 1;
  }

  &__icon {
    width: 22px;
    height: 25px;
    fill: $backgroundColor;
    transition: fill 0.5s ease;
    position: relative;
    top: 5px;
    left: 3px;
    z-index: 3;
  }
}