.design {
  padding-top: 94px;

  &__title {
    margin-bottom: 22px;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 77px;
  }

  &__item {
    min-height: 245px;
    width: calc(100% / 3 - 30px);
    height: 100%;
    background-color: $designArticle;
    @extend %dmsans-700;
    line-height: 1.2;
    position: relative;
    margin: 0 15px 34px;
    padding: 35px 0 0 35px;
  }
}

.design-card {
  &__subtitle {
    max-width: 171px;
    margin-bottom: 15px;
    font-size: 20px;
    color: $title;
    @extend %line-2;
    position: relative;
    z-index: 2;
  }

  &__style {
    color: $buttonColor;
    @extend %line-1;
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 35px;
    max-width: 270px;
    z-index: 1;


    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.video {
  @extend %bg;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .play-icon {
    fill: $sliderTitle;
  }

  &__popup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $buttonColor;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    position: relative;

    &::after {
      content: "";
      width: 127px;
      height: 127px;
      background-color: $video-play;
      position: absolute;
      top: -14px;
      left: -15px;
      border-radius: 50%;
      transition: opacity 0.5s ease;
    }
  }
}

.play-icon {
  width: 22px;
  height: 25px;
  fill: $backgroundColor;
  transition: fill 0.5s ease;
}