.footer {
  @extend %rubik-400;
  color: $footerText;

  &__top {
    padding-top: 79px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
  }

  &__list {
    p {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 34px;
      max-width: 300px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding-top: 15px;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $footerTitle;
    @extend %line-1;
  }

  &__label {
    text-transform: uppercase;
  }


  &__cont,
  &__element,
  &__inform {
    font-size: 16px;
    line-height: 2;
    max-width: 270px;
    transition: color 0.5s ease;
  }

  &__cont {
    line-height: 1.7;
    max-width: 263px;
    @extend %line-2;

  }

  &__elem {
    transition: color 0.5s ease;
  }

  &__elem:hover,
  &__element:hover {
    color: $title;
  }

  &__link {
    &--address {
      line-height: 1.7;
    }
  }


  &__element {
    border-bottom: 1px solid transparent;
    transition: border-color 0.5s ease;

    &:hover {
      border-color: $title;
    }
  }

  &__bottom {
    min-height: 90px;
    position: relative;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      border-top: 1px solid $buttonColor;
      opacity: 0.4;
    }
  }

  &__menu {
    display: flex;
  }

  &__elem:not(:last-child) {
    padding-right: 16px;
    margin-right: 16px;
    border-right: 1px solid $footerText;
  }

  &__copy {
    max-width: 1000px;
  }
}

.logo {
  margin-bottom: 20px;
}

.footer-info {
  font-style: normal;
}

.form {
  display: flex;
  justify-content: center;

  &__input {
    border: none;
    background-color: $input-bg-opacity;
    padding: 0 16px;
    color: $placeholderColor;
    font-size: 12px;
    line-height: 1.2;
    max-width: 193px;
    width: 100%;
    @extend %dmsans-400;

    &:focus {
      outline-color: $placeholderColor;
    }

    &::placeholder {
      color: $placeholderColor;
    }
  }

  &__btn {
    width: 100px;
    height: 38px;
    border: none;
    background-color: $buttonColor;
    color: $backgroundColor;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 1.5;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: $placeholderColor;
    }
  }
}