.header{
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: $backgroundColor;

  @include _1200 {
    min-height: 85px;
  }

  @include _992 {
    min-height: 65px;
  }
}
.menu {
  min-height: 145px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1770px;
  width: 100%;
  margin: 0 auto;
  z-index: 3;
  transition: min-height 0.5s ease;

  @include _1200 {
    min-height: 85px;
  }

  @include _992 {
    min-height: 65px;
  }

  &__btn {
    width: 35px;
    height: 40px;
    position: relative;
    cursor: pointer;
    text-align: center;
    display: none;

    @include _1200 {
      display: block;
      padding: 20px;
      z-index: 4;
      order: 2;
    }

    @include _576 {
      order: 1;
    }
  }

  &__line {
    background-color: $menu;
    position: absolute;
    border-radius: 2px;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    width: 100%;
    height: 5px;
    left: 0;

    &--top {
      top: 5px;
    }

    &--center {
      top: calc(50% - 3px);
    }

    &--bottom {
      bottom: 5px;
    }
  }

  &__btn.active {
    .menu__line {
      top: 18px;

      &--top {
        transform: rotate(45deg);
      }

      &--center {
        transform: rotate(-45deg);
      }

      &--bottom {
        background-color: transparent;
      }
    }
  }

  &__list {
    display: flex;

    @include _1200 {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $designArticle;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(-100%);
      transition: transform 0.5s ease;
      height: 100vh;
      max-width: 100%;
      padding: 20px 0;
      overflow: auto;
      z-index: 3;
    }

    @include _992 {
      padding-top: 120px;
      max-width: 100%;
    }

    &--active {
      transform: translateY(0);
    }
  }

  &__item {
    @include _1200 {
      width: 100%;
    }
  }

  &__item:not(:last-child) {
    margin-right: 35px;

    @include _1200 {
      margin: 0 0 20px;
    }

    @include _576 {
      margin: 0 0 10px;
    }
  }

  &__link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    color: $menu;
    border-bottom: 1px solid transparent;
    transition: border-color 0.5s ease,
      color 0.5s ease;

    &:hover {
      border-color: $title;
      color: $title;
    }

    @include _1200 {
      text-align: center;
      display: block;
      padding: 10px 20px;
      font-size: 40px;
    }

    @include _576 {
      font-size: 25px;
      padding: 5px 10px;
    }
  }
}

.logo--menu {
  position: relative;
  z-index: 4;
}

.user-nav {
  display: flex;
  align-items: center;

  @include _1200 {
    order: 1;
  }

  @include _576 {
    width: 100%;
    padding: 10px 5px;
    margin: 0 auto;
    justify-content: center;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 51px;
    width: 52px;
    background-color: $slider-bg;
    transition: background-color 0.5s ease;

    @include _576 {
      height: 31px;
      width: 32px;
    }

    &:hover {
      background-color: $buttonColor;

      .user-nav__icon {
        fill: $backgroundColor;
      }
    }

    &--search {
      margin-right: 20px;
      background-color: $search-icon-opacity;
    }

    &--like {
      border-radius: 25px 0 0 25px;
      width: 89px;
      position: relative;

      @include _576 {
        width: 52px;
      }


      &::before {
        content: "";
        border-right: 1px solid $backgroundColor;
        height: 32px;
        opacity: 0.4;
        position: absolute;
        top: 9;
        right: 0;
      }
    }

    &--basket {
      border-radius: 0 25px 25px 0;
      width: 89px;
      margin-right: 17px;
      position: relative;

      @include _576 {
        width: 52px;
      }
    }

    &--points {
      background-color: $buttonColor;

      &:hover {
        background-color: $sliderTitle;
      }
    }
  }

  &__icon {
    fill: $sliderTitle;
    transition: fill 0.5s ease;
    height: 17px;

    &--search {
      width: 16px;
      height: 16px;
    }

    &--like {
      width: 18px;
    }

    &--basket {
      width: 19px;
    }

    &--points {
      fill: $backgroundColor;
      width: 20px;
      height: 21px;
    }
  }

  &__num {
    position: absolute;
    top: 10px;
    left: 45px;
    background-color: $backgroundColor;
    height: 16px;
    padding: 2px 5px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 2.7;
    box-shadow: -5px 1px 27px 1px rgba(0, 0, 0, 0.5);

    @include _768 {
      top: 10px;
      left: 45px;
    }

    @include _576 {
      top: 0;
      left: 25px;
    }
  }
}