.news {
  padding-top: 112px;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    min-height: 170px;
    background-color: $sponsors-bg;
    position: absolute;
    bottom: 268px;
    left: 0;
  }

  &__title {
    max-width: 50%;
  }

  &__all {
    display: flex;
    padding-right: 25px;
    align-items: center;
    color: $article-text;
    @extend %dmsans-700;
    border-bottom: 1px solid transparent;
    transition: color 0.5s ease,
      border-color 0.5s ease,
      fill 0.5s ease;
    position: relative;

    svg {
      position: absolute;
      right: 0;
    }

    &:hover {
      color: $sliderInfo;
      border-color: $sliderInfo;
    }

    &:hover .aroww-right {
      fill: $sliderInfo;
    }
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }

  &__item {
    min-height: 420px;
    max-width: 370px;
    height: 100%;
    background-color: $backgroundColor;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

  &__link {
    height: 250px;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__descript {
    height: 131px;
    padding: 0 30px;
  }

  &__style {
    max-width: 310px;
    transform: translateY(-50%);
    text-transform: uppercase;
    color: $backgroundColor;
    @extend %poppins-700;
    font-size: 14px;
    line-height: 1.4;
    padding: 8px 31px;
    background-color: $buttonColor;
    display: inline-block;
    border-radius: 15px;
    transition: background-color 0.5s ease;
    @extend %line-1;

    &:hover {
      background-color: $sliderTitle;
    }
  }

  &__subtitle {
    @extend %dmsans-500;
    color: $article-text;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 15px;
    @extend %line-3;
  }


  &__details {
    font-size: 14px;
    line-height: 2.5;
    padding: 10px 0;
    text-transform: uppercase;
    color: $article-descript;
    @extend %myriadpro-400;
    border-top: 1px solid $article-line;
  }

  &__data {
    padding-left: 12px;
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &::before {
      content: "";
      width: 6px;
      height: 12px;
      background-image: url('../images/news/arrow-right.svg');
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__arrow {
    width: 7px;
    height: 12px;
    fill: $article-text;
  }
}