 .products {
   padding-top: 64px;
   position: relative;

   &__title {
     color: $productsTitle;
     margin-bottom: 20px;
   }

   &__content {
     row-gap: 40px;
     column-gap: 30px;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     margin-bottom: 180px;

     @include _1200 {
       grid-template-columns: repeat(3, 1fr);
     }

     @include _768 {
       grid-template-columns: repeat(2, 1fr);
       gap: 15px;
       margin-bottom: 80px;
     }

     @include _576 {
       grid-template-columns: 1fr;
       gap: 10px;
       margin-bottom: 50px;
     }
   }

   &__info {
     display: flex;

     @include _1200 {
       flex-wrap: wrap;
     }
   }

   &__elem {
     min-height: 392px;
     max-width: 870px;
     width: 100%;
     background-color: $lamp-bg;

     @include _1200 {
       max-width: 100%;
     }

     @include _768 {
       padding: 20px;
       min-height: 340px;
     }

     @include _576 {
       min-height: 233px;
     }

     &:not(:last-child) {
       margin-right: 30px;

       @include _1200 {
         margin: 0 0 130px;
       }

       @include _768 {
         margin: 0 0 80px;
       }
     }
   }

   &__descript {
     max-width: 345px;
     padding: 0 10px;

     @include _768 {
       padding-left: 20px;
     }
   }

   &__inner {
     padding: 5px 20px;
     align-items: center;
     justify-content: center;
     display: flex;

     @include _1200 {
       justify-content: space-evenly;
     }
   }

   &__product {
     transform: translateY(-99px);
     max-width: 235px;
     object-fit: contain;

     @include _768 {
       transform: translateY(-40px);
       max-width: 150px;
     }

     @include _576 {
       max-width: 120px;
     }
   }

   &__text {
     @extend %rubik-400;
     margin-bottom: 33px;
     @include line-2;

     @include _576 {
       margin-bottom: 10px;
       @include line-1;
       max-width: 150px;
     }
   }

   &__name {
     @extend %dmsans-700;
     font-size: 26px;
     line-height: 1.2;
     margin-bottom: 16px;
     @include line-2;

     @include _768 {
       margin-bottom: 10px;
       font-size: 20px;
     }

     @include _576 {
       max-width: 80px;
     }
   }
 }

 .button {
   &--more {
     max-width: 180px;
     border: 1px solid $menu;
     border-radius: 5px;
     color: $menu;
     transition: background-color 0.5s ease;
     margin-bottom: 18px;

     @include _576 {
       margin-bottom: 10px;
       max-width: 117px;
       height: 36px;
     }

     svg {
       width: 22px;
       height: 9px;
       fill: $menu;

       @include _576 {
         display: none;
       }
     }

     &:hover {
       background-color: $slider-bg;
     }
   }
 }

 .products-card {
   width: 270px;
   height: 380px;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
   border-radius: 10px;
   padding: 0 10px 26px;

   &__star {
     display: none;
   }

   &__price-list {
     @extend %rubik-400;
     font-size: 30px;
     line-height: 1.2;
     color: $favoritesTitle;
     margin-bottom: 36px;
     display: none;
   }

   &__inner {
     display: flex;
     align-items: center;
     flex-direction: column;

     p {
       @include line-3;
       @extend %rubik-400;
       font-size: 16px;
       line-height: 1.9;
       color: $sliderTitle;
       margin-bottom: 13px;
       display: none;
     }
   }

   &.products-card--list.product-card--del {
     display: none;
   }

   &.products-card--list {
     width: 100%;
     height: 100%;
     flex-direction: row;
     column-gap: 62px;
     box-shadow: none;
     padding: 0;

     @include _992 {
       flex-direction: column;
     }

     &:not(:last-child) {
       @include _1200 {
         margin-bottom: 10px;
       }
     }

     .products-card__star {
       margin-bottom: 37px;
       display: block;

       @include _992 {
         margin-bottom: 10px;
       }
     }

     .products-card__price {
       display: none;
     }

     .products-card__price-list {
       display: block;
       margin-bottom: 19px;

       @include _992 {
         margin-bottom: 10px;
         font-size: 18px;
       }
     }

     .products-card__inner {
       max-height: 501px;
       height: 100%;
       max-width: 405px;
       align-items: flex-start;

       @include _1200 {
         max-width: 300px;
       }

       p {
         display: block;
        
         @include _992 {
           margin-bottom: 10px;
         }
       }
     }

     .products-card__link {
       height: 501px;
       width: 370px;
       border: 2px solid $products-card-bg;
       display: flex;
       align-items: center;
       justify-content: center;

       @include _1200 {
         height: 375px;
         width: 295px;
       }

       @include _992 {
         margin-bottom: 20px;
         height: 300px;
       }

       .products-card__img {
         min-height: 347px;
         max-width: 323px;
         object-fit: contain;

         @include _1200 {
           min-height: 200px;
         }

         @include _576 {
           max-width: 245px;
         }
       }
     }

     .products-card__hover {
       justify-content: center;
       opacity: 1;
       position: relative;
       top: 0;
       left: 16px;
       transform: translate(0);
       width: 70px;
       column-gap: 11px;

       .products-card__icons {
         box-shadow: none;
         border-radius: 0;
       }

       .products-card__icons--del {
         display: none;
       }
     }

     .products-card__subtitle {
       font-size: 40px;
       line-height: 1;
       max-width: 270px;
       margin-bottom: 16px;
       color: $favoritesTitle;

       @include _992 {
         margin-bottom: 15px;
         font-size: 25px;
       }
     }

     .products-card__icons {
       width: 50px;
       height: 50px;
     }
   }

   @include _992 {
     padding: 10px 10px 26px;
     height: 300px;
   }

   &:hover .products-card__hover {
     opacity: 1;
   }

   &__hover {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 170px;
     display: flex;
     justify-content: space-between;
     opacity: 0;
     transition: opacity 0.5s ease;
   }

   &__icons {
     width: 45px;
     height: 45px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     background-color: $backgroundColor;
     transition: background-color 0.5s ease;
     box-shadow: 0px 2px 73px 37px rgba(34, 60, 80, 0.2);

     &:hover {
       background-color: $buttonColor;

       .products-card__icon {
         fill: $backgroundColor;
       }
     }
   }

   &__icon {
     transition: fill 0.5s ease;
     fill: $buttonColor;
     width: 22px;
     height: 20px;
   }

   &__link {
     display: flex;
     min-height: 200px;
     align-items: center;
     margin: auto 0;
   }

   &__subtitle {
     color: $sliderSubtitle;
     margin-top: auto;
     font-size: 16px;
     line-height: 2;
     @include line-1;
     max-width: 170px;
   }

   &__price {
     @extend %dmsans-700;
     line-height: 2.5;
     color: $buttonColor;
     @include line-1;
   }
 }

 .filter {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-bottom: 80px;

   &__item:not(:last-child) {
     margin-right: 20px;
   }

   &__btn {
     @extend %dmsans-700;
     font-size: 16px;
     line-height: 1.2;
     color: $filter;
     background-color: transparent;
     transition: color 0.5s ease;
   }
 }

 .filter__btn:hover,
 .mixitup-control-active {
   color: $title;
 }