.slider {
  &__list {
    background-color: $slider-bg;
    position: relative;

    &::before {
      content: "";
      background-image: url('../images/slider/gradient_slider.png');
      background-repeat: no-repeat;
      width: 622px;
      height: 634px;
      padding-right: 185px;
      position: absolute;
      top: 99px;
      right: 185px;
    }
  }

  &__item {
    min-height: 820px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %rubik-500;
  }

  &__content {
    max-width: 431px;
     margin-bottom: 45px;
  }

  &__title {
    font-size: 72px;
    line-height: 1;
    color: $sliderTitle;
    text-transform: uppercase;
    margin-bottom: 24px;
    @extend %line-2
  }


  &__content p {
    font-size: 18px;
    line-height: 1.6;
    color: $menu;
    margin-bottom: 40px;
    max-width: 380px;
    @extend %line-2
  }

  &__button {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    line-height: 1;
    width: 200px;
    height: 60px;
    background-color: $buttonColor;
    color: $backgroundColor;
    position: relative;
    transition: background-color 0.5s ease,
      color 0.5s ease;

    .arrows-icon {
      width: 22px;
      height: 9px;
      fill: $backgroundColor;
      transition: fill 0.5s ease;

      &:hover {
        fill: $slider-bg;
      }
    }

    &:hover {
      color: $slider-bg;
      background-color: $placeholderColor;
    }
  }

  &__image{
    max-width: 640px;
    min-height: 264px;
    object-fit: cover;
  }

  &__bottom {
    background-color: $input-bg-opacity;
    display: flex;
    justify-content: space-between;
    min-height: 171px;
  }

  &__info {
    max-width: 33.33%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__elem {
    max-width: 293px;
    margin: 0 auto;
    padding-left: 80px;
    position: relative;
    z-index: 1;
    margin-bottom: 5px;

    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 0;
      @extend %bg;
      width: 55px;
    }

    &--hour::before {
      background-image: url('../images/slider/slider-icon1.svg');
      height: 55px;
    }

    &--deliver::before {
      background-image: url('../images/slider/slider-icon2.svg');
      height: 40px;
    }

    &--card::before {
      background-image: url('../images/slider/slider-icon3.svg');
      height: 55px;
    }
  }

  &__info:not(:last-child) {
    border-right: 1px solid $sliderLine;
  }

  &__subtitle {
    color: $sliderSubtitle;
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 2.2;
    @extend %line-1;
  }

  &__info p {
    color: $sliderInfo;
    @extend %dmsans-400;
    @extend %line-2;
  }
}

.slick-dots {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 45px;
  transform: translateX(-50%);

  li:not(:last-child) {
    margin-right: 11px;
  }

  button {
    font-size: 11px;
    line-height: 1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: $sliderTitle;
    background-color: $slick-bg-opacity;
    transition: background-color 0.5s ease;
  }

  button:hover {
    background-color: $backgroundColor;
  }
}

.slick-active button {
  background-color: $backgroundColor;
}