.slider {
  
  &__list {
    background-color: $slider-bg;
    position: relative;

    &::before {
      content: "";
      background-image: url('../images/slider/gradient_slider.png');
      background-repeat: no-repeat;
      width: 622px;
      height: 634px;
      position: absolute;
      top: 99px;
      right: 185px;

      @include _1200 {
        display: none;
      }
    }
  }

  &__item {
    min-height: 820px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %rubik-500;

    @include _1200 {
      min-height: 520px;
    }

    @include _992 {
      min-height: 420px;
    }

    @include _768 {
      justify-content: center;
      flex-direction: column;
      min-height: 320px;
    }
  }

  &__content {
    max-width: 431px;
    margin-bottom: 45px;

    @include _768 {
      max-width: 100%;
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 72px;
    line-height: 1;
    color: $sliderTitle;
    text-transform: uppercase;
    margin-bottom: 24px;
    @include line-2;

    @include _992 {
      font-size: 40px;
    }

    @include _768 {
      font-size: 20px;
    }
  }


  &__content p {
    font-size: 18px;
    line-height: 1.6;
    color: $menu;
    margin-bottom: 40px;
    max-width: 380px;
    @include line-2;

    @include _992 {
      font-size: 15px;
    }

    @include _768 {
      max-width: 100%;
    }
  }

  &__image {
    max-width: 640px;
    min-height: 264px;
    object-fit: cover;

    @include _576 {
      max-width: 80%;
      min-height: 190px;
    }
  }

  &__bottom {
    background-color: $input-bg-opacity;
    display: flex;
    justify-content: space-between;
    min-height: 171px;

    @include _768 {
      display: block;
    }
  }

  &__info {
    max-width: 33.33%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include _768 {
      max-width: 100%;
      display: block;
    }
  }

  &__elem {
    max-width: 293px;
    margin: 0 auto;
    padding-left: 80px;
    position: relative;
    z-index: 1;
    margin-bottom: 5px;

    @include _768 {
      max-width: 100%;
      padding: 10px 0 10px 80px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 0;
      @extend %bg;
      width: 55px;
      height: 55px;
    }

    &--hour::before {
      background-image: url('../images/slider/slider-icon1.svg');
    }

    &--deliver::before {
      background-image: url('../images/slider/slider-icon2.svg');
      height: 40px;
    }

    &--card::before {
      background-image: url('../images/slider/slider-icon3.svg');
    }
  }

  &__info:not(:last-child) {
    border-right: 1px solid $sliderLine;

    @include _768 {
      border: none;
    }
  }

  &__subtitle {
    color: $sliderSubtitle;
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 2.2;
    @include line-1;
  }

  &__info p {
    color: $sliderInfo;
    @extend %dmsans-400;
    @include line-2;
  }

  .button {
    &--slider {
      margin-bottom: 25px;
      max-width: 200px;
      background-color: $buttonColor;
      color: $backgroundColor;
      position: relative;
      transition: background-color 0.5s ease,
        color 0.5s ease;

      svg {
        width: 22px;
        height: 9px;
        fill: $backgroundColor;
        transition: fill 0.5s ease;
      }

      &:hover svg {
        fill: $slider-bg;
      }

      @include _768 {
        max-width: 150px;
        margin: 0 auto 20px;
      }

      &:hover {
        color: $slider-bg;
        background-color: $placeholderColor;
      }
    }
  }

  .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 45px;
    transform: translateX(-50%);

    li:not(:last-child) {
      margin-right: 11px;
    }

    button {
      font-size: 11px;
      line-height: 1;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      color: $sliderTitle;
      background-color: $slick-bg-opacity;
      transition: background-color 0.5s ease;
    }

    button:hover {
      background-color: $backgroundColor;
    }
  }

  .slick-active button {
    background-color: $backgroundColor;
  }
}